// Define variables for your color scheme
$funky-yellow: #F7D072;
$funky-purple: #4C3A4D;
$funky-black-dark: #050401;
$funky-black: rgba(5, 4, 1, 0.7);
$funky-black-light: rgba(5, 4, 1, 0.2);

$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

