<h2>Where to book</h2>
<% @results.each do |result| %>
 <!-- link to to show Single Space below -->
<%= link_to result.name, space_path(result.id) %>
<br>
<%= result.capacity %>
<br>
<%= result.location %>
<% end %>
<br>
  <%= link_to 'Back', root_path %>
