<div class="banner">
  <div class="funky-form">
    <form class="landing-form">
      <label>Location</label>:
      <input type="text" /><br />

      <label>Date</label>:
      <input type="text" /><br />

      <label>Capacity</label>:
      <input type="text" /><br />

      <button value="Search" class="funky-button">Search</button>
    </form>
  </div>
</div>
