<div class="banner">
  <div class="funky-form landing-form">
    <form>
      <label>Location</label>:
      <input type="text" /><br />

      <label>Date</label>:
      <input type="text" /><br />

      <label>Capacity</label>:
      <input type="text" /><br />

      <button value="Search" class="funky-button">Search</button>
    </form>
  </div>
</div>

<div class="funky-container">
  <h2>Spaces all over the world</h2>
  <div class="funky-cards-grid">
   <div class="funky-card-search">
     <%= image_tag "banner2.jpg" %>
     <div class="funky-card-search-info">
       <div>
         <h3>City here</h3>
         <h2>Title here</h2>
         <p>Rating here</p>
       </div>
     </div>
   </div>
  </div>
</div>
