<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%= simple_form_for %>
<%= f.input :location %>
<%= f.input :capacity%>
<%= f.button :submit %>
<% end %>
<br>

<%#= link_to "Search", search_path%>
