<div class="banner">
  <div class="landing-form">
    <form action="/spaces/search" method="GET" class="funky-form">
      <label>Location</label>
      <input name="location" type="text">
      <label>Capacity</label>
      <select name="capacity">
        <option value="less than 20">less than 20</option>
        <option value="20 to 50">20 to 50</option>
        <option value="50 to 100">50 to 100</option>
        <option value="100 to 200">100 to 200</option>
        <option value="200 to 500">200 to 500</option>
        <option value="500+">500+</option>
      </select>
      <button value="Search" class="funky-button">Search</button>
    </form>
  </div>
</div>
