<h1>book a room</h1>

<div class=" form border p-4 text-white">
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.button :submit, class: "btn-primary" %>
  <% end %>
</div>



