.funky-card {
  width: 600px;
  margin-right: 80px;
  .funky-card-avatar{
    display: flex;
    justify-content: space-between;
  }
}
.funky-card-search {
  padding-top: 20px;
  overflow: hidden;
  background: white;
  img {
    border-radius: 4px;
    height: 200px;
    width: 100%;
    object-fit: cover;
  };
  .confirm-links {
    padding: 10px 0;
    float: right;
  };
}
.funky-card-search-info {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  h3 {
    color: rgba(5, 4, 1, 0.5);
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  };
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  };
  p {
    font-size: 12px;
    opacity: 0.7;
    margin: 0;
  };
}
.funky-cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}
.funky-card-pay {
  padding-top: 20px;
  overflow: hidden;
  background: white;
  img {
    border-radius: 4px;
    height: 200px;
    width: 100%;
    object-fit: cover;
  };
}
.funky-cards-search-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
