.funky-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 50px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .funky-container {
    max-width: 620px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 850px;
  }
}

@media (min-width: 992px) {
  .funky-container {
    max-width: 1000px;
  }
}

@media (min-width: 1200px) {
  .funky-container {
    max-width: 1500px;
  }
}

.funky-show-container {
  display: flex;
  justify-content: center;
  padding: 0 250px;
  width: 100%;
}
.profile-container {
  display: flex;
  height: 500px;
  .profile-left {
    vertical-align: middle;
    margin: 0 150px;
    height: 950px;
    padding: 20px 50px;
    border: 1px solid $funky-black-light;
  }
}
