.funky-form {
  position: relative;
  background-color: white;
  padding: 20px;
  width: 20vw;
  border-radius: 4px;
}
.funky-form button {
  right: 20px;
}
.landing-form {
  left: 160px;
  top: 150px;
}
