.navbar-funky-space {
  justify-content: space-between;
  background: transparent;
  margin: 0px;
}

.navbar-funky-space .navbar-collapse {
  flex-grow: 0;
}

.navbar-funky-space .navbar-brand img {
  width: 150px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  a {
    margin-right: 30px;
  }
}
